

.decors {
    position: absolute;
    width: 2em;
    height: 2em;
    background-size: contain;
}

.decors.background {
    z-index: 1;
}
.decors.foreground {
    z-index: 4;
}

.decors.ascenseur.background {
    background-image: url("./img/ascenseur_b.png");
}
.decors.ascenseur.foreground {
    background-image: url("./img/ascenseur.png");
}

.decors.potager.background {
    background-image: url("./img/potager_b.png");
}
.decors.potager.foreground {
    background-image: url("./img/potager_f.png");
}

.decors.hydrazine.background {
    background-image: url("./img/h2n4.png");
}
.decors.hydrazine.foreground {
}

.decors.fontaine.background {
    background-image: url("./img/fontaine_b.png");
}
.decors.fontaine.foreground {
}