#fenetre {
    border: solid;
    position: relative;
    overflow: hidden;

}

#plateau {
    background: midnightblue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: left 0.5s linear;
}

#hero {
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url("./cosmo_idle.gif");
    background-size: contain;
    z-index: 2;
    transition: left 0.5s linear;
}
#hero.mouvement {
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url("./cosmo.gif");
    background-size: contain;
    z-index: 2;
}
#hero.left {
    transform: scaleX(-1);
}