#fenetre {
    border: solid;
    position: relative;
    overflow: hidden;
    transition: opacity 1s linear;
    background: black;


}
#fenetre.gameOver {
    opacity: 0;
}

#fenetre.ready * {
    transition: left 0.5s linear, bottom 0.5s ease-in-out;
}

#plateau {
    background: midnightblue;
    position: absolute;
    bottom: 0;
    left: 0;
}

#hero {
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url("./img/cosmo_idle.gif");
    background-size: contain;
    z-index: 2;
}
#hero.mouvement {
    position: absolute;
    width: 1em;
    height: 1em;
    background-image: url("./img/cosmo.gif");
    background-size: contain;
    z-index: 2;
}
#hero.left {
    transform: scaleX(-1);
}